/*TODO: Adjust css*/
:root {
    --custom-background-color: #51545e;
    --custom-white: rgba(255, 255, 255, 0.88);
    --custom-black: rgba(0, 0, 0, 0.88);
    --dark-accent: rgba(98, 98, 98, 0.88);
    --light-accent: rgba(213, 213, 213, 0.88);
    --custom-green: #308600;
    --custom-light-green: #b8f693;
    --custom-red: #9b0000;
    --custom-light-red: #e50000;
    --custom-yellow: #cba000;
    --custom-light-yellow: #e0bf47;
}

body {
    color: var(--custom-white);
    background-color: var(--custom-background-color);
    margin: 10px;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.btn {
    color: var(--custom-black);
    background-color: var(--light-accent);
    border-color: var(--light-accent);
    border-radius: 5px;
    padding: 5px;
}

.btn:hover {
    color: var(--custom-white);
    background-color: var(--dark-accent);
}

.btn-success {
    color: var(--custom-white);
    background-color: var(--custom-green);
    border-color: var(--custom-green);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.btn-success:hover {
    color: var(--custom-black);
    background-color: var(--custom-light-green);
}

.btn-danger {
    color: var(--custom-white);
    background-color: var(--custom-red);
    border-color: var(--custom-red);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
.btn-danger:hover {
    color: var(--custom-black);
    background-color: var(--custom-light-red);
}

.btn-edit {
    color: var(--custom-black);
    background-color: var(--custom-yellow);
    border-color: var(--custom-yellow);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
.btn-edit:hover {
    background-color: var(--custom-light-yellow);
}

.home-image {
    max-width: 100%;
    max-height: 100%;
    height: 50px;
}
.github-image {
    max-width: 100%;
    max-height: 100%;
    height: 40px;
    border-radius: 20px;
}

.navbar {
    background-color: var(--dark-accent);
}

.nav-link {
    color: var(--custom-white);
    border-radius: 5px;
    margin: 5px;
}

li {
    align-content: center;
}
td {
    align-content: center;
}

.nav-link:hover {
    color: var(--custom-black);
    background-color: var(--light-accent);
}

.table > :not(caption) > * > * {
    color: var(--custom-white);
    background-color: transparent;
}
.underlined-row {
    border-bottom-width: 1px;
    border-color: var(--light-accent);
}

table {
    background-color: var(--dark-accent);
}