<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring with Docker" type="CompoundRunConfigurationType">
    <toRun name="Docker Image" type="docker-deploy" />
    <toRun name="MainApplication" type="SpringBootApplicationConfigurationType" />
    <method v="2" />
  </configuration>
</component>